<template name="appSelect">
    <!-- /top tiles -->
    <div class="row" id="build-title-row" style="padding-top:60px;text-align:center">
        <p class="project-header">You don't have any builds yet</p>
        <p class="project-header-sub">Create a new build by selecting one of your GitHub repositories from below
            <br>(We currently only support C programs which have <a class="mutate-link" href="https://github.com/mity/cutest">CuTest</a> or <a class="mutate-link" href="http://cunit.sourceforge.net/">CUnit</a> tests)</p>
    </div>
    <div class="row appselect-row">
        <div class="x_panel appselect-table">
            <div class="x_title appselect-table-title">
                <img class="appselect-user-image" src="{{userImageURL}}" alt=""> <span class="appselect-user-name">{{username}}jaysnanavati</span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="">
                    <ul class="to_do appselect">
                        <li>
                            <p>
                                <input type="radio" class="flat"><span class="repo-name">Schedule meeting with new client</span>
                                <button class="btn btn-default appselect-build-btn" type="button">Build</button>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
