<template name="buildDetails">

    <body class="nav-sm">
        <div class="container body">
            <div class="main_container">
                <!-- top navigation -->
                {{> navigationBar}}
                <!-- /top navigation -->
                <!-- page content -->
                <div class="x_title build-details-title">
                    <div class="build-details-nav">
                        <div class="details-title"><b><i class="fa fa-arrow-circle-left back-to-builds " style="color:#B3DAF1"></i> master: </b>{{revision buildId}} <i class="{{buildStatus buildId}}"></i></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="build-details-tab-panel" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs builddetails-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab">Logs</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab">Mutation Results</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right_col" role="main">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="code-wrapper">
                                {{#each line in logs buildId}}
                                <div class="line-content">{{line}}</div>
                                {{/each}}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            {{#if isRunning}}
                            <div style="text-align:center">Mutation is still running...</div>
                            {{else}}
                            <!-- top tiles -->
                            <div class="row tile_count" style="font-weight:bold">
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Mutation Score</span>
                                    <div class="count">{{overallMS buildId}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Total Tests</span>
                                    <div class="count">{{totalTests buildId}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Mutants Generated</span>
                                    <div class="count">{{totalGenerated buildId}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Mutants Killed</span>
                                    <div class="count">{{totalKilled buildId}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Equivalent Mutants</span>
                                    <div class="count">{{totalEquivalent buildId}}</div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                    <span class="count_top">Average CFD</span>
                                    <div class="count">{{averageCFD buildId}}%</div>
                                </div>
                            </div>
                            <!-- /top tiles -->
                            <div class="row" style="font-weight:bold">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-weight:bold">Mutant Population Breakdown</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" style="font-weight:bold">
                                        <h4 style="font-weight:bold">Mutation Code</h4> {{#each mutant in generatedMutants buildId}} {{#with mutant}}
                                        <div class="widget_summary">
                                            <div class="w_left w_25">
                                                <span>{{mutationCode}}</span>
                                            </div>
                                            <div class="w_center w_55">
                                                <div class="progress">
                                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{count}}%;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w_right w_20">
                                                <span>{{count}}%</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{/with}} {{/each}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-8 col-xs-14" style="margin-top:25px">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Survived Mutants</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table class="" style="width:100%">
                                                <tr>
                                                    <th style="width:37%;">
                                                    </th>
                                                    <th>
                                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <canvas id="canvas1" height="240" width="240" style="margin: 15px 10px 10px 0"></canvas>
                                                    </td>
                                                    <td>
                                                        <table class="tile_info">
                                                            {{#each item in survivedPie buildId}} {{#with item}}
                                                            <tr id="{{type}}" data-count="{{count}}">
                                                                <td>
                                                                    <p><i class="fa fa-square {{color}} " style="margin-left:20px"> </i> {{type}}</p>
                                                                </td>
                                                                <td>{{count}}%</td>
                                                            </tr>
                                                            {{/with}} {{/each}}
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-8 col-xs-14" style="margin-top:25px;padding-bottom:55px;">
                                    <div class="x_panel">
                                        <div class="x_title ">
                                            <h2 style="font-weight:bold ">Mutant CFD Breakdown</h2>
                                            <div class="clearfix "></div>
                                        </div>
                                        <div class="x_content " style="font-weight:bold ">
                                            <h4 style="font-weight:bold ">Mutation Code</h4> {{#each mutant in cfdMutants buildId}} {{#with mutant}}
                                            <div class="widget_summary ">
                                                <div class="w_left w_25 ">
                                                    <span>{{mutationCode}}</span>
                                                </div>
                                                <div class="w_center w_55 ">
                                                    <div class="progress ">
                                                        <div class="progress-bar bg-purple " role="progressbar " aria-valuenow="60 " aria-valuemin="0 " aria-valuemax="100 " style="width: {{count}}%; ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w_right w_20 ">
                                                    <span>{{count}}%</span>
                                                </div>
                                                <div class="clearfix "></div>
                                            </div>
                                            {{/with}} {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            var options = {
                legend: false,
                responsive: false
            };

            new Chart($("#canvas1"), {
                type: 'doughnut',
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    labels: [
                        "CFDVE",
                        "CFD",
                        "VE"
                    ],
                    datasets: [{
                        data: [$("#CFDVE").data("count"), $("#CFD").data("count"), $("#VE").data("count")],
                        backgroundColor: [
                            "blue",
                            "green",
                            "purple"
                        ],
                        hoverBackgroundColor: [
                            "blue",
                            "green",
                            "purple"
                        ]
                    }]
                },
                options: options
            });
        })
        </script>
        <!-- Flot plugins -->
    </body>
</template>
